@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: arial;
  font-size: medium;
}
.normal-text {
  font-family: arial;
  font-size: medium;
}

.button {
  width: 139px;
  height: 43.4px;
  gap: 0px;
  border-radius: 25px;
  border: 1px solid rgb(52 50 104);
  opacity: 0px;
  background-color: #fbfbfb;
}
